body {
  margin: 0;
}

.main {
  background-color: black;
  height: 100vh;
}

.cell {
  border: 1px solid grey;
  display: inline-block;
  width: 40px;
  height: 40px;
  content: '';
  color: transparent;
}

.game {
  top: 0;
  bottom: 0;
  margin: auto;
  width: 440px;
  height: 680px;
  background-color: #ccc;
  font-family: sans-serif;
  padding: 16px;
  text-align: center;
}